


/* .condiv class is for the right side content container*/

/* home styles */
.home {
    text-align: center;
}

/* about style */
.about {
    text-align: center;
}

.profilepic {
    width: 171px;
    height: 180px;
}